<div id="footer">
    <div class="left">
        <img src="assets/images/logo.svg" >
    </div>
    <div class="center">
        <p>© Kevin Wyatt 2023</p>
        <p (click)="openDialog()">Impressum</p>
    </div>
    <div class="right">
        <a href="https://github.com/RuyRun" target="_blank"><img src="assets/images/github-white.svg" ></a>
        <a href="mailto:kontakt@kevinwyatt.de"><img src="assets/images/email-white.svg" > </a>
        <a href="https://www.linkedin.com/in/kevin-wyatt-684194203"  target="_blank"><img src="assets/images/linkedin-white.svg" ></a>
    </div>
</div>