<div id="about">
    <img class="ellipse-5" src="assets/images/ellipse-5.svg" alt="">
    <div class="about-slogen">
        <h3>Let's work <br>together </h3>
    </div>
    <div class="about-content">
        <div class="ellipse-6">
            <img src="assets/images/ellipse-6.svg" alt="">
        </div>
        <p>
            I am a Front-end developer based in Munich, Germany. I enjoy helping designers and companies bring their
            ideas into real life. I am looking forward to continuing my developer career with a job in a junior web
            developer position. <br><br>
            If you think I’d be a good match for your projects, contact me!
        </p>
        <div class="test">
            <div class="button" (click)="navigateToSection('contact')">Send a message</div>
        </div>
    </div>
</div>