<div id="about">
    <img class="ellipse-5" src="assets/images/ellipse-5.svg" alt="">
    <div class="about-slogen">
        <h3>Let's work <br>together </h3>
    </div>
    <div class="about-content">
        <div class="ellipse-6">
            <img src="assets/images/ellipse-6.svg" alt="">
        </div>
        <p>
            As a passionate front-end developer from NRW, Germany, I learned my craft as a junior developer at the Developer Academy. My expertise lies in the development of web applications using JavaScript and Angular.
<br><br>
        During my training, I acquired comprehensive knowledge and skills that enable me to create appealing and user-friendly web apps. I have delved into the latest technologies and best practices to develop innovative solutions.
        <br><br>
        In my public portfolio, you can gain insight into the projects I have worked on so far.
        <br><br>
        My goal is to continually grow and embrace new challenges in the field of front-end development. I am motivated to translate innovative ideas into practice and collaborate with a dedicated team to create exceptional digital solutions.
        <br><br>
        If you are interested in a collaboration or would like further information about my projects and skills, I am at your disposal.
        </p>
        <div class="send-message-box">
            <div class="button" (click)="navigateToSection('contact')">Send a message</div>
        </div>
    </div>
</div>