<img src="assets/images/{{ work.image }}" alt="" [class.img-right]="swapItems" (click)="openInNewTab(work.website)">
<div class="descripton" [class.align-end]="swapItems">
    <h4>{{ work.name}}</h4>
    <div class="languages">
        <p *ngFor="let lang of work.languages"> {{ lang }}</p>
    </div>

    <p class="description-text">{{ work.description }}</p>
    <div>
        <div class="button">
            <a href="{{work.github}}" target="_blank">Github</a>
        </div>
        <div class="button-live-test ">
            <a href="{{work.website}}" target="_blank">Live test</a>
        </div>
    </div>
</div>