<div class="start-section">
    <app-nav></app-nav>
    <div class="container">
        <div class="left">
            <img src="assets/images/ellipse-1.png" alt="">
            <div class="user-picture"></div>
        </div>
        <div class="right">
            <div class="row">
                <div class="col-60 text">
                    <h2>Hello! I am Kevin</h2>
                    <p>FRONTEND</p>
                    <p>DEVELOPER</p>
                </div>
                <div class="col-40">
                    <p>SCROLL</p>
                    <div class="horizontal-line"></div>
                    <div class="social-media-icons">
                        <img src="assets/images/github.svg" alt="">
                        <img src="assets/images/mail.svg" alt="">
                        <img src="assets/images/linkedin.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>