<div class="start-section">
    
    <div class="container">
        <app-nav></app-nav>
        <div class="left">
            <img src="assets/images/portrait.png" alt="">
            <!-- <div class="user-picture"></div> -->
        </div>
        <div class="right">
            <div class="row">
                <div class="col-60 text">
                    <h2>Hello! I am Kevin</h2>
                    <p>FRONTEND</p>
                    <p>DEVELOPER</p>
                </div>
                <div class="col-40">
                    <p>SCROLL</p>
                    <div class="horizontal-line"></div>
                    <div class="social-media-icons">
                        <a href="https://github.com/RuyRun" target="_blank"><img src="assets/images/github.svg" alt=""></a>
                        <a href="mailto:kontakt@kevinwyatt.de"><img src="assets/images/mail.svg" alt=""></a>
                        <a href="https://www.linkedin.com/in/kevin-wyatt-684194203" target="_blank"><img src="assets/images/linkedin.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>