<div id="contact">
    <h3>Contact</h3>
    <div class="contact-container">
        <div class="left">
            <p class="headline-text"> Got a problem to solve?</p>
            <p class="content-text">Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.</p>
            <p>Need a Frontend developer? <span>Contact me!</span></p>
            <img src="assets/images/ellipse-5.svg" alt="">
        </div>
        <div class="right">
            <form>
                <div class="input-box">
                    <input type="text" id="name">
                    <span>Your Name</span>
                </div>
                <div class="input-box">
                    <input type="email" id="email">
                    <span>Your email</span>
                </div>
                <div class="input-box">
                    <textarea name="message" id="message"></textarea>
                    <span>Your message</span>
                </div>
                
                <div>
                    <button class="button"> Say hello ;&rpar;</button>
                </div>
            </form>
        </div>
    </div>
</div>
