#contact {
    height: auto;
    background: linear-gradient(180deg, #FFF 0%, #EAF0FF 100%);
    padding: 0 12% 32px;

    h3 {
        color: var(--font-color, #5988FF);
        font-size: 90px;
        font-family: Baloo;
        line-height: 120%;
    }

    .contact-container {
        display: flex;
        width: 100%;
        .left {
            position: relative;
            img {
                position: absolute;
                left: 25%;
                bottom: 0;
            }
            .headline-text {
                color: var(--font-color, #5988FF);
                font-size: 32px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 700;
                line-height: 120%;
            }

            p {
                &:nth-child(2) {
                    width: 421px;
                }

                &:nth-child(3) {
                    color: var(--font-color, #5988FF);
                    font-size: 16px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;

                    span {
                        font-weight: 700;
                    }
                }
            }
        }

        .right {
            display: flex;
            padding-right: 55px;
            justify-content: flex-end;
            position: relative;
            width: 100%;
            img {
                position: absolute;
                bottom: 0px;
                right: -158px;
            }
            form {
                display: flex;
                flex-direction: column;
                gap: 35px;
                width: 100%;
                align-items: flex-end;
                .input-box {
                    position: relative;
                    max-width: 545px;
                    width: 100%;
                    input, textarea {
                        display: flex;
                        width: 100%;
                        height: 30px;
                        padding: 15px 25px;
                        align-items: center;
                        gap: 10px;
                        border-radius: 10px;
                        border: 1px solid var(--font-color, #5988FF);
                        background: #FFF;
                        outline: none;
                        transition: 0.5s;
                        &:focus {
                            & ~  span{
                                transform:translateX(25px) translateY(-17px);
                                padding: 0px;
                                background-color: #FCFDFF;
                            }
                        }
                        &:valid {
                            & ~  span{
                                transform:translateX(25px) translateY(-17px);
                                padding: 0px;
                                background-color: #FCFDFF;
                            }
                        }
                    }
                    span {
                        position: absolute;
                        top: 6px;
                        left: 0;
                        padding: 15px 25px;
                        pointer-events: none;
                        transition: 0.2s ease-in;
                    }
                }
                textarea {
                    height: 202px !important;
                    resize: none;
                }
                div {
                    &:last-child {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
    .go-up {
        color: var(--font-color);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        border: 2px solid var(--font-color, #5988FF);
        transition: all 0.2s ease-in;
        box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        background: none;
        color: white;
        background: radial-gradient(91.12% 91.12% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
        padding: 8px;
        border-radius: 100%;
    
        &:hover {
            transform: translate(-8px, -8px);
        }
    }
}

.test-classe {
    & span{
        transform:translateX(25px) translateY(-17px);
        padding: 0px !important;
        background-color: #FCFDFF;
    }
}
@media(max-width: 1110px) {
    #contact {
        h3 {
            font-size: 64px;
        }
        .contact-container {
            flex-direction: column;
            .left {
                img {
                    display: none;
                }
                .content-text {
                    width: fit-content !important;
                }
            }
            .right {
                padding: 0px;
                justify-content: flex-start;
                form {
                    align-items: flex-start;
                }
                img {
                    right: 0;
                }
                .input-box {
                    width: 87% !important;
                }
            }
        }
        .go-up {
            margin-top: 32px;
            padding: 3px;
        }
    }
}