<div id="contact">
    <h3>Contact</h3>
    <div class="contact-container">
        <div class="left">
            <p class="headline-text"> Got a problem to solve?</p>
            <p class="content-text">Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.</p>
            <p>Need a Frontend developer? <span>Contact me!</span></p>
            <img src="assets/images/ellipse-5.svg" alt="">
        </div>
        <div class="right">
            <form (submit)="sendMail()" ngNativeValidate>
                <div class="input-box" #nameFieldBox>
                    <input required type="text" id="name" #nameField>
                    <span>Your Name</span>
                </div>
                <div class="input-box">
                    <input required type="email" id="email" #emailField>
                    <span>Your email</span>
                </div>
                <div class="input-box">
                    <textarea required name="message" id="message" #messageField></textarea>
                    <span>Your message</span>
                </div>
                
                <div>
                    <button class="button"> Say hello ;&rpar;</button>
                </div>
            </form>
            <img src="assets/images/ellipse-6.svg" alt="">
        </div>
    </div>
    <div class="go-up">
        <a href="#"><img src="assets/images/arrow-up.svg" alt=""></a>
    </div>
</div>
